<body>

<%= render 'pages/jumbotron' %>



<div id="how">
          
  </br>

  <h3 style="color: #808080;"> <b> FEATURES </b> </h3>

  <h2 style="font-size: 45px; color: #16a085"> Hvad vi kan tilbyde </h2>
       
  </br>
  

  <div class="col-sm-3">
    <span class="glyphicon glyphicon-play-circle green" style="font-size:55px;"></span>
    <h3> Step-by-Step videoer </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Lavet med den absolute begynder i tankerne. Du er ny i Excel? Intet problem! </p>
  </div>

  <div class="col-sm-3">
    <span class="glyphicon glyphicon-usd green" style="font-size:50px;"></span>
    <h3> Det er gratis </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> SU'en rækker ofte ikke til Excel kurser, derfor har vi gjort det gratis </p>
  </div>
        
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-comment green" style="font-size:55px;"></span>
    <h3> Du er ikke alene </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Få dine spørgsmål besvaret af et support community, så du ikke går i stå </p>
  </div>

</div>




<div id="how1">
          
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-unchecked green" style="font-size:55px;"></span>
    <h3> Mac og Windows </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Kurserne er lavet både til Mac og Windows brugere </p>
  </div>

  <div class="col-sm-3">
    <span class="glyphicon glyphicon-list-alt green" style="font-size:55px;"></span>
    <h3> Praktiske Excel eksempler </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Vi bruger eksempler fra studiet og erhvervslivet. Lær at lave alt fra det mest basale i Excel til budgetter, projektplaner mv. </p>
  </div>
        
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-cloud-download green" style="font-size:55px;"></span>
    <h3> Download Excel projekter </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Download de Excel projekter vi bruger i undervisningen, hvis du har behov for at kigge lidt på dem

 </p>
  </div>

</div>





<div id="excelprojects">
</br>
  <h3 style="color: #808080;"> <b> PROJEKTER </b> </h3>
  <h2 style="font-size: 45px; color: black;"> Eksempler på Excel projekter du kan lære  </p>

   </br>

  <div class="img-thumbnail">

  <%= image_tag "balance_sheet.png", :height => 200, :width => 250 %>
  
  </div>


  <div class="img-thumbnail">

  <%= image_tag "cashflow.png", :height => 200, :width => 250 %>

  </div>


  <div class="img-thumbnail">

  <%= image_tag "breakeven_analysis.png", :height => 200, :width => 250 %>

  </div>


<div class="img-thumbnail">

  <%= image_tag "cost_analysis.png", :height => 200, :width => 250 %>

  </div>


</div>




<div id="omexcelschool">
<div class="container">  
</br>
  <h3 style="color: #808080;"> <b> OM EXCELSCHOOL </b> </h3>
  <h2 style="font-size: 45px; color: #16a085;"> Hvorfor ExcelSchool eksisterer </p>

   </br> 

  <p style="font-family: open sans; font-size: 15px; color: black;"> <b> 1. Manglende undervisning i dag - </b> Efter mange år som studerende har vi på egen krop oplevet den manglende Excel undervisning på diverse uddannelser.
   
   </br>
   </br> 

   <b> 2. Høj indgangsbarriere for begyndere </b> - Det kan være svært at komme i gang med Excel på egen hånd.
  
  </br>
  </br>

  <b> 2. Ingen at spørge om hjælp </b> - Nuværende løsninger fokuserer mest på envejskommunikation, uden mulighed for at spørge om hjælp.

  </br>
  </br>

  <b> 3. Brugbar både i udannelse og studiejob - </b> ExcelSchools formål er ved hjælp af videokurser at undervise studerende i brugen af Excel, så de kan bruge det i deres uddannelse og i deres studiejob.   </p>

</br>

  <p style="font-family: open sans; font-size: 15px; color: black;"> <%= link_to "Tilmeld", new_user_registration_path , class: "btn btn-primary btn-lg" %> dig her så du kan få at vide hvornår vi går i luften! </p>

  </div>
  </div>

</div>


<div id="kontakt">
</br>
  <h3 style="color: #2ECC71;"> <b> KONTAKT OS </b> </h3>
  <h2 style="font-size: 45px; color: white;"> Fortæl os hvad du har på hjertet </p>

  </br>  
   
  <p style="font-family: open sans; font-size: 15px; color: white;"> Skriv til <u>casper@excelschool.tv</u> hvis du har spørgsmål, kommentarer eller andet. </br> Vi vil svare dig så hurtigt som muligt og vi ser frem til at høre fra dig.  </p>

  </div>

</div>





     
<div id="footer">
<div class="container">



  <p style="font-size: 15px;"> </br> &copy; ExcelSchool 2014 </p>

</div>
</div>    


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47817628-1', 'excelschool.tv');
  ga('send', 'pageview');

</script>


</body>


