<body>

<%= render 'pages/jumbotron' %>



<div id="how">
          
  </br>

  <h3 style="color: #808080;"> <b> FEATURES </b> </h3>

  <h2 style="font-size: 45px; color: #16a085"> Hvad kan vi tilbyde? </h2>
       
  </br>
  

  <div class="col-sm-3">
    <span class="glyphicon glyphicon-play-circle green" style="font-size:60px;"></span>
    <h3> Step-by-Step videoer </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Lavet med den absolute begynder i tankerne. Du er ny i Excel? Intet problem! Du kender Excel? Endnu bedre! </p>
  </div>

  <div class="col-sm-3">
    <span class="glyphicon glyphicon-briefcase green" style="font-size:60px;"></span>
    <h3> Byg rigtige Excel projekter </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Lær at lave rigtige budgetter, projektplaner, grafer og meget mere </p>
  </div>
        
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-comment green" style="font-size:60px;"></span>
    <h3> Du er ikke alene </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Rigtige mennesker og et support community der kan hjælpe dig nå dine mål </p>
  </div>

</div>




<div id="how1">
          
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-cloud-download green" style="font-size:60px;"></span>
    <h3> Download Excel projekter </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Download de Excel projekter vi bruger i undervisningen, hvis du har behov for at kigge lidt </p>
  </div>

  <div class="col-sm-3">
    <span class="glyphicon glyphicon-usd green" style="font-size:60px;"></span>
    <h3> Det er gratis </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Som studerende ved vi SU'en ofte ikke rækker til Excel kurser, derfor har vi gjort det gratis </p>
  </div>
        
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-thumbs-up green" style="font-size:60px;"></span>
    <h3> Mac og Windows </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Det er rigtigt! Kurserne er lavet både til Mac og Windows brugere </p>
  </div>

</div>





<div id="excelprojects">
</br>
  <h3 style="color: #808080;"> <b> PROJEKTER </b> </h3>
  <h2 style="font-size: 45px; color: black;"> Du kan f.eks. lære at lave det her  </p>

   </br>

  <div class="img-thumbnail">

  <%= image_tag "balance_sheet.png", :height => 200, :width => 250 %>
  
  </div>


  <div class="img-thumbnail">

  <%= image_tag "cashflow.png", :height => 200, :width => 250 %>

  </div>


  <div class="img-thumbnail">

  <%= image_tag "breakeven_analysis.png", :height => 200, :width => 250 %>

  </div>


<div class="img-thumbnail">

  <%= image_tag "cost_analysis.png", :height => 200, :width => 250 %>

  </div>


</div>




<div id="omexcelschool">
<div class="container">  
</br>
  <h3 style="color: #808080;"> <b> OM EXCELSCHOOL </b> </h3>
  <h2 style="font-size: 45px; color: #16a085;"> Hvorfor eksisterer ExcelSchool? </p>

   </br> 

  <p style="font-family: open sans; font-size: 15px; color: black;"> <b> 1. Manglende undervisning i dag - </b> Efter mange år som studerende har vi oplevet på egen krop den manglede undervisning der er i Excel på diverse uddannelser.
   
   </br>
   </br> 

   <b> 2. Høj indgangsbarriere for begyndere </b> - Det kan være svært at komme i gang med programmet.
  
  </br>
  </br>

  <b> 3. Brugbar både i udannelse og studiejob - </b> ExcelSchools formål er ved hjælp af videokurser at undervise studernede i brugen af Excel, så de kan bruge det i deres uddannelse og i deres studiejob.   </p>

</br>

  <p style="font-family: open sans; font-size: 15px; color: black;"> <%= link_to "Sign up", new_user_registration_path , class: "btn btn-primary btn-lg" %> <b> ....så du kan få at vide hvornår vi går i luften! </b></p>

  </div>
  </div>

</div>


<div id="kontakt">
</br>
  <h3 style="color: #2ECC71;"> <b> KONTAKT OS </b> </h3>
  <h2 style="font-size: 45px; color: white;"> Fortæl os hvad du har på hjertet </p>

  </br>  
   
  <p style="font-family: open sans; font-size: 15px; color: white;"> Skriv til <u> email@email.dk </u> hvis du har spørgsmål, kommentarer eller andet og vi vil svare dig hurtigst muligt  </p>

  </div>

</div>





     
<div id="footer">
<div class="container">



  <p style="font-size: 15px;"> </br> &copy; ExcelSchool 2014 </p>

</div>
</div>    


</body>


